altair==5.5.0
beautifulsoup4>=4.11.1
curl_cffi>=0.15.0
feedparser==6.0.11
frozendict>=2.3.4
lxml>=5.0.0
multitasking>=0.0.7
numpy>=2.0.0
pandas==2.2.3
peewee>=3.16.2
platformdirs>=2.0.0
plotly==5.24.1
protobuf>=3.19.0
pytz>=2022.5
requests==2.32.3
streamlit==1.41.1
websockets>=13.0
yfinance>=1.2.2
